    <p>コメント件数 <%= book_detail.post_comments.count %></p>
      <% book_detail.post_comments.each do |post_comment| %>
      <p><%= post_comment.user.name %></p>
      <p><%= post_comment.created_at.strftime("%Y/%m/%d") %></p>
      <p><%= post_comment.comment %></p>
      <% if post_comment.user == current_user %>
      <div class="comment-delete">
       <%= link_to"Delite",book_post_comment_path(post_comment.book,post_comment), method: :delete %>
      </div>
      <% end %>
     <% end %>