<% if flash[:notice] %>
  <p id="notice">
   <%="Welcome! You have "+ flash[:notice] %>
  </p>
 <% end %>

<h1>User info</h1>

<div class="profile-name">
 <div class="profile-image" style="padding:10px;">
   <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
 </div>
 <div class="border-top" style="padding:10px;">
  <p>name <%= user.name %></p>
 </div>
 <div class="border-top" style="padding:10px;">
   <p>introduction <%= user.introduction %></p>
 </div>

 <div class="border-top" style="padding:10px;">
  <td>フォロー数 <%= user.follower.count %></td>
 </div>

 <div class="border-top" style="padding:10px;">
  <td>フォローワー数 <%= user.followed.count %></td>
 </div>

 <td>
  <% if current_user.following?(user) %>
   <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST,class: "btn btn-danger text-white fas fa-user-cog" %>
  <% else %>
    <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: "btn btn-danger text-white fas fa-user-cog" %>
  <% end %>
 </td>
</div>
<!--ユーザー情報-->

<% if @book.errors.any? %>
 <%= @book.errors.count %>件のエラーが発生しました
 <%= @book.errors.full_messages.each do |message| %>
    <% end %>
   <% end %>

<h1>New book</h1>
  <%= form_with model:@book,local: true do |f| %>
   <h4>Title</h4>
   <%= f.text_field :title %>

   <h4>Opinion</h4>
   <%= f.text_area :body %>

   <p><%= f.submit"Create Book",class: "btn btn-success" %></p>
  <% end %>
<!--新規投稿フォーム-->