<%= render "books/list",user:@user %>

<h2> Book detail </h2>

<%= attachment_image_tag @bookid.user,:profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
<p><%=link_to @bookid.user.name %></p>
<p><%=link_to @bookid.title, book_path(@bookid.id) %></p>
<p><%= @bookid.body %></p>

 <% if @bookid.user == current_user %>
  <%= link_to"Edit", edit_book_path(@bookid.id) %>
  <%= link_to"Destroy", book_path(@bookid.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
 <% end %>
